# **Variables**

### 1. Create a variable to store your age and print it.

In [1]:
age = 24
print(age)

24

###2. Store two numbers in variables and display their sum.

In [ ]:
num_1 = 5
num_2 = 5
print(num_1+num_2)

10

###3. Assign three variables in a single line with values, then print them.

In [ ]:
var_1, var_2, var_3 = 1, 2, 3
print(var_1, var_2, var_3)

1 2 3

###4. Create variables for name, age, and city, and display a sentence using them.

In [ ]:
name = "Rahat"
age = 24
city = "Dhaka"
print(f"I am {name}, my age is {age} and I live in {city}")

I am Rahat, my age is 24 and I live in Dhaka

###5. Swap values of two variables using a temporary variable.

In [ ]:
num_1 = 5
num_2 = 10
print(f"before swap num_1={num_1} & num_2={num_2}")
temp = num_1
num_1 = num_2
num_2 = temp
print(f"after swap num_1={num_1} & num_2={num_2}")

before swap num_1=5 & num_2=10
after swap num_1=10 & num_2=5

###6. Swap values of two variables without using a temporary variable.

In [ ]:
num_1 = 10
num_2 = 20
print(f"before swap num_1={num_1} & num_2={num_2}")
num_1, num_2 = num_2, num_1
print(f"after swap num_1={num_1} & num_2={num_2}")

before swap num_1=10 & num_2=20
after swap num_1=20 & num_2=10

###7. Use meaningful variable names to represent a person's name, age, and occupation, then display them.

In [ ]:
name = "Rahat"
age = 24
occupation = "Student"
print(f"I am {name}.\nI am {age}.\nI am a {occupation}.")

I am Rahat.
I am 24.
I am a Student.

# **Numeric Data Types**

###8. Define an integer, a float, and a complex number and print their types.

In [ ]:
a = 5
print(type(a))
b = 5.6
print(type(b))
c = 5+7j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

###9. Convert a float to an integer and print both values.

In [ ]:
x = 2.34
print(x)
y = int(x) # convert float to int
print(y)

2.34
2

###10. Round a floating-point number to two decimal places.

In [ ]:
a = 5.555512
print(f"{a:.2f}")

5.56

###11. Calculate the remainder when 100 is divided by 7.

In [ ]:
print(f"{100/7:.2f}")

14.29

###12. Raise a number to the power of another (e.g., \(5^3\)).

In [ ]:
print(pow(5,3))

125

###13. Find the absolute value of a negative number.

In [ ]:
print(abs(-2))

2

###14. Use scientific notation to represent a very large or very small number.

In [ ]:
scientific_format = "{:e}".format(12345603.23546)
print(scientific_format)

1.234560e+07

###15. Use Python’s 'math' library to find the square root of a number.

In [ ]:
import math
num = math.sqrt(64)
print(f"{num:.1f}")

8.0

###16. Convert an integer to a complex number and print the result.

In [ ]:
num = 5
complex_num = complex(num)
print(complex_num)

(5+0j)

###17. Use 'math.pi' to calculate the circumference of a circle with radius 7.

In [ ]:
radius = 7
print(round(2 * math.pi * radius, 2))

43.98

# **Strings**

###18. Create a string variable containing your full name and print it.

In [ ]:
name = "Masudur Rabbi Rahat"
print(name)

Masudur Rabbi Rahat

###19. Find the length of a string stored in a variable.

In [ ]:
str_var = "Hello World"
print(len(str_var))

11

###20. Concatenate two strings with a space in between.

In [ ]:
f_name = "Rabbi"
l_name = "Rahat"
print(f_name+" "+l_name)

Rabbi Rahat

###21. Convert a string to all uppercase letters.

In [ ]:
str_1 = "hello"
print(str_1.upper())

HELLO

###22. Convert a string to all lowercase letters.

In [ ]:
str_1 = "HELLO"
print(str_1.lower())

hello

###23. Replace all occurrences of a character in a string with another character.

In [ ]:
str_1 = "Hello world!"
print(str_1.replace("Hello","Hi"))

Hi world!

###24. Check if a given substring is in a string.

In [ ]:
main_string ="hello world"
sub_string = "hello"

if sub_string in main_string:
    print(f"'{sub_string}' is found in the main string")
else:
    print(f"'{sub_string}' is not found in the main string")

'hello' is found in the main string

###25. Extract the last character from a string.

In [ ]:
my_string = "hello world!"
last_char = my_string[-1]
print(last_char)

!

###26. Reverse a string using slicing.

In [ ]:
str_1 = "hello world!"
reversed_string = str_1[::-1]
print(f"The reversed string is: '{reversed_string}'")

The reversed string is: '!dlrow olleh'

###27. Create a multi-line string and print it.

In [ ]:
str_1 = '''Hello world!
I am learning Python.
This is multiline comment
'''
print(str_1)

Hello world!
I am learning Python.
This is multiline comment

# String Slicing

###28. Extract the first five characters of a string.

In [ ]:
str_1 = "hello world"
print(str_1[0:5])

hello

###29. Slice the last three characters of a string.

In [ ]:
str_1 = "DataAnalyst"
print(str_1[-3:])

yst

###30. Extract a substring from the 2nd to the 6th character of a string.

In [ ]:
str_1 = "DataAnalyst"
print(str_1[1:6])

ataAn

###31. Get every alternate character in a string.

In [ ]:
str_1 = "DataAnalyst"
print(str_1[::2])

DtAayt

###32. Remove the first character from a string using slicing.

In [ ]:
str_1 = "DataAnalyst"
print(str_1[1:])

ataAnalyst

###33. Extract a substring from the middle of a string.

In [ ]:
str_1 = "DataAnalyst"
print(str_1[4:7])

Ana

###34. Use negative indexing to get the last three characters of a string.

In [ ]:
str_1 = "DataAnalyst"
print(str_1[-3:])

yst

###35. Create a new string from a given string by skipping every third character.

In [ ]:
string = "abcdefghijklm"
new_string = ""
for i in range(len(string)):
    if (i+1) % 3 != 0:
        new_string += string[i]

print(new_string)

abdeghjkm

# Lists

###36. Create a list of five fruits and print it.

In [ ]:
fruits = ["apple", "orange", "banana", "mango", "grape"]
print(fruits)

['apple', 'orange', 'banana', 'mango', 'grape']
<class 'list'>

###37. Access the third item in a list.

In [ ]:
fruits = ["apple", "orange", "banana", "mango", "grape"]
print(fruits[2])

banana

###38. Modify the second item in a list.

In [ ]:
fruits = ["apple", "orange", "banana", "mango", "grape"]
fruits[1] = "watermelon"
print(fruits)

['apple', 'watermelon', 'banana', 'mango', 'grape']

###39. Add a new item to the end of a list.

In [ ]:
fruits = ["apple", "orange", "banana", "mango", "grape"]
fruits.append("watermelon")
print(fruits)

['apple', 'orange', 'banana', 'mango', 'grape', 'watermelon']

###40. Insert an item at the second position in a list.

In [ ]:
fruits = ["apple", "orange", "banana", "mango", "grape"]
fruits.insert(1, "watermelon")
print(fruits)

['apple', 'watermelon', 'orange', 'banana', 'mango', 'grape']

###41. Remove the first item from a list.

In [ ]:
fruits = ["apple", "orange", "banana", "mango", "grape"]
fruits.pop(0)
print(fruits)

['orange', 'banana', 'mango', 'grape']

###42. Remove an item by value from a list.

In [ ]:
fruits = ["apple", "orange", "banana", "mango", "grape"]
fruits.remove("grape")
print(fruits)

['apple', 'orange', 'banana', 'mango']

###43. Find the length of a list.

In [ ]:
fruits = ["apple", "orange", "banana", "mango", "grape"]
print(len(fruits))

5

###44. Check if a certain item is in a list.

In [ ]:
fruits = ["apple", "orange", "banana", "mango", "grape"]
if "banana" in fruits:
    print(f"Yes, 'banana' is in the fruits list")
else:
    print(f"No, 'banana' is not in the fruits list")

No, 'banana' is not in the fruits list

###45. Combine two lists into one.

In [ ]:
list_1 = [1, 2, 3]
list_2 = [4, 5, 6]
list_1.extend(list_2)
print(list_1)

[1, 2, 3, 4, 5, 6]

# List Slicing

###46. Slice the first three elements of a list.

In [ ]:
fruits = ["apple", "orange", "banana", "mango", "grape"]
print(fruits[0:3])

['apple', 'orange', 'banana']

###47. Get the last two elements of a list using slicing.

In [ ]:
fruits = ["apple", "orange", "banana", "mango", "grape"]
print(fruits[-2:])

['mango', 'grape']

###48. Extract elements from index 2 to 4 from a list.

In [ ]:
fruits = ["apple", "orange", "banana", "mango", "grape", "watermelon"]
print(fruits[2:5])

['banana', 'mango', 'grape']

###49. Get every alternate element in a list using slicing.

In [ ]:
fruits = ["apple", "orange", "banana", "mango", "grape", "watermelon"]
print(fruits[::2])

['apple', 'banana', 'grape']

###50. Reverse a list using slicing.

In [ ]:
fruits = ["apple", "orange", "banana", "mango", "grape", "watermelon"]
print(fruits[::-1])

['watermelon', 'grape', 'mango', 'banana', 'orange', 'apple']

###51. Slice out the middle portion of a list.

In [ ]:
fruits = ["apple", "orange", "banana", "mango", "grape", "watermelon"]
print(fruits[2:4])

['banana', 'mango']

###52. Remove the last element from a list without using any built-in functions.

In [ ]:
fruits = ["apple", "orange", "banana", "mango", "grape", "watermelon"]
print("Original List: ", fruits)

fruits = fruits[:-1]
print("New List: ", fruits)

Original List:  ['apple', 'orange', 'banana', 'mango', 'grape', 'watermelon']
New List:  ['apple', 'orange', 'banana', 'mango', 'grape']

###53. Use negative indexing to get the last three elements of a list.

In [ ]:
fruits = ["apple", "orange", "banana", "mango", "grape", "watermelon"]
print(fruits[-3:])

['mango', 'grape', 'watermelon']

###54. Create a new list that excludes the first and last elements of an existing list.

In [ ]:
fruits = ["apple", "orange", "banana", "mango", "grape", "watermelon"]
fruits = fruits[1:] # exclude the 1st element
fruits = fruits[:-1] # exclude the last element
print(fruits)

['orange', 'banana', 'mango', 'grape']

# Sets

###55. Create a set of five numbers and print it.

In [ ]:
num = {1, 2, 3, 4, 5}
print(num)

{1, 2, 3, 4, 5}

###56. Add a new element to a set.

In [ ]:
num = {1, 2, 3, 4, 5}
num.add(6)
print(num)

{1, 2, 3, 4, 5, 6}

###57. Remove an element from a set.

In [ ]:
num = {1, 2, 3, 4, 5, 6}
num.remove(6)
print(num)

{1, 2, 3, 4, 5}

###58. Check if a value is in a set.

In [ ]:
num = {1, 2, 3, 4, 5, 6}
if 6 in num:
    print("yes, 6 is in the set")
else:
    print("no, 6 is not in the set")

yes, 6 is in the set

###59. Combine two sets using union.

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'c', 1, 2, 3, 'a', 'b'}

###60. Find the intersection of two sets.

In [ ]:
num1 = {1, 2, 3}
num2 = {3, 5, 6}

num3 = num1.intersection(num2)
print(num3)

{3}

###61. Find the difference between two sets.

In [ ]:
num1 = {1, 2, 3}
num2 = {3, 5, 6}

print(num1.difference(num2)) # (num1-num2)
print(num2.difference(num1)) # (num2-num1)

{1, 2}
{5, 6}

###62. Convert a list with duplicate items to a set.

In [ ]:
num = [1, 2, 2, 3, 4, 4, 5]

num = list(set(num))
print(num)

[1, 2, 3, 4, 5]

###63. Clear all elements from a set.

In [ ]:
fruits = {"apple", "banana", "cherry"}

fruits.clear()
print(fruits)

set()

###64. Create a set of five unique colors and print its length.

In [ ]:
colors = {"red", "black", "blue", "yellow", "Green"}
print(len(colors))

5

# Dictionaries

###65. Create a dictionary with keys 'name', 'age', and 'city', and print it.

In [ ]:
dict1 = {
    "name": "Rahat",
    "age": 24,
    "city": "Dhaka"
}
print(dict1)

{'name': 'Rahat', 'age': 24, 'city': 'Dhaka'}
<class 'dict'>

###66. Access the value of the 'name' key in a dictionary.

In [ ]:
dict1 = {
    "name": "Rahat",
    "age": 24,
    "city": "Dhaka"
}
print(dict1["name"])

Rahat

###67. Add a new key-value pair to an existing dictionary.

In [ ]:
dict1["ID"] = "2405206"
print(dict1)

{'name': 'Rahat', 'age': 24, 'city': 'Dhaka', 'ID': '2405206'}

###68. Update the value of an existing key in a dictionary.

In [ ]:
dict1 = {
    'name': 'Rahat',
    'age': 24,
    'city': 'Dhaka',
    'ID': '2405206'
}
dict1.update(name = 'Rabbi')
print(dict1)

{'name': 'Rabbi', 'age': 24, 'city': 'Dhaka', 'ID': '2405206'}

###69. Remove a key-value pair from a dictionary.

In [ ]:
dict1 = {
    'name': 'Rahat',
    'age': 24,
    'city': 'Dhaka',
    'ID': '2405206'
}
dict1.pop('ID')
print(dict1)

{'name': 'Rahat', 'age': 24, 'city': 'Dhaka'}

###70. Check if a specific key exists in a dictionary.

In [ ]:
dict1 = {
    'name': 'Rahat',
    'age': 24,
    'city': 'Dhaka',
    'ID': '2405206'
}
print('ID' in dict1)
print('PhoneNo' in dict1)

True
False

###71. Get all keys from a dictionary as a list.

In [ ]:
dict1 = {
    'name': 'Rahat',
    'age': 24,
    'city': 'Dhaka',
    'ID': '2405206'
}
keyList = list(dict1.keys())
print(keyList)

['name', 'age', 'city', 'ID']

###72. Get all values from a dictionary as a list.

In [ ]:
dict1 = {
    'name': 'Rahat',
    'age': 24,
    'city': 'Dhaka',
    'ID': '2405206'
}
keyList = list(dict1.values())
print(keyList)

['Rahat', 24, 'Dhaka', '2405206']

###73. Merge two dictionaries into one.

In [ ]:
dict1 = {
    'name': 'Rahat',
    'age': 24,
    'city': 'Dhaka',
    'ID': '2405206'
}
dict2 = {
    'a': 1,
    'b':2
}
dict1.update(dict2)
print(dict1)

{'name': 'Rahat', 'age': 24, 'city': 'Dhaka', 'ID': '2405206', 'a': 1, 'b': 2}

###74. Create a dictionary with default values for five keys.

In [ ]:
keys = ['a', 'b', 'c', 'd', 'e']
default_value = 0
dict1 = {}

for i in keys:
    dict1[i] = default_value
print(dict1)

{'a': 0, 'b': 0, 'c': 0, 'd': 0, 'e': 0}

# Tuples

###75. Create a tuple with five different fruits and print it.

In [ ]:
fruits = ('apple', 'orange', 'banana', 'grape', 'watermelon')
print(fruits)

('apple', 'orange', 'banana', 'grape', 'watermelon')

###76. Access the third item in a tuple.

In [ ]:
fruits = ('apple', 'orange', 'banana', 'grape', 'watermelon')
print(fruits[2])

banana

###77. Attempt to modify the first item in a tuple and observe the error.

In [ ]:
fruits = ('apple', 'orange', 'banana', 'grape', 'watermelon')
fruits[0] = 'mango'
fruits

TypeError: 'tuple' object does not support item assignment

###78. Convert a tuple to a list.

In [ ]:
fruits_tuple = ('apple', 'orange', 'banana', 'grape', 'watermelon')
fruits_list = list(fruits_tuple)
print(type(fruits_list))

<class 'list'>

###79. Find the length of a tuple.

In [ ]:
fruits = ('apple', 'orange', 'banana', 'grape', 'watermelon')
print(len(fruits))

5

###80. Concatenate two tuples into one.

In [ ]:
fruits = ('apple', 'orange', 'banana', 'grape', 'watermelon')
num = (1,2,3)
result = fruits + num
print(result)

('apple', 'orange', 'banana', 'grape', 'watermelon', 1, 2, 3)

###81. Create a tuple with one item and print its type.

In [ ]:
num = (1)
print(type(num))

<class 'int'>

###82. Unpack the values of a tuple into separate variables.

In [ ]:
num = (1, 2, 3)
(one, two, three) = num

print(one, two, three)

1 2 3

###83. Use tuple indexing to get the last item in a tuple.

In [ ]:
fruits = ('apple', 'orange', 'banana', 'grape', 'watermelon')
print(fruits[-1])

watermelon

###84. Check if a specific item exists in a tuple.

In [ ]:
fruits = ('apple', 'orange', 'banana', 'grape', 'watermelon')
if 'apple' in fruits:
    print("Yes, 'apple' exists in the fruits tuple")

Yes, 'apple' exists in the fruits tuple

# Type Casting

###85. Convert an integer to a float and print both values.

In [ ]:
int_val = 1
print(int_val)
float_val = float(int_val)
print(float_val)

1
1.0

###86. Convert a float to a string and print both values.

In [ ]:
float_val = 1.15
print("float type: ", float_val)
str_val = str(float_val)
print("string type: ", str_val)

float type:  1.15
string type:  1.15

###87. Convert a string representing a number to an integer.

In [ ]:
num_str = '15'
print("str type: ", num_str)
num_int = int(num_str)
print("int type: ", num_int)

str type:  15
int type:  15

###88. Convert a list to a tuple and print both types.

In [ ]:
fruits_list = ['apple', 'orange', 'banana', 'grape', 'watermelon']
print(type(fruits_list))

fruits_tuple = tuple(fruits_list)
print(type(fruits_tuple))

<class 'list'>
<class 'tuple'>

###89. Convert a tuple to a list and print both types.

In [ ]:
fruits_tuple = ('apple', 'orange', 'banana', 'grape', 'watermelon')
print(type(fruits_tuple))

fruits_list = list(fruits_tuple)
print(type(fruits_list))

<class 'tuple'>
<class 'list'>

###90. Convert a dictionary’s keys to a list.

In [ ]:
dict1 = {
    'name': 'Rahat',
    'age': 24,
    'city': 'Dhaka',
    'ID': '2405206'
}
key_list = list(dict1.keys())
print(key_list)

['name', 'age', 'city', 'ID']

###91. Convert a dictionary’s values to a list.

In [ ]:
dict1 = {
    'name': 'Rahat',
    'age': 24,
    'city': 'Dhaka',
    'ID': '2405206'
}
value_list = list(dict1.values())
print(value_list)

['Rahat', 24, 'Dhaka', '2405206']

###92. Create a set from a string and print the result.

In [ ]:
str1 = "hello world!"
print(type(str1))
my_set = set(str1)
print(my_set)
print(type(my_set))

<class 'str'>
{'d', '!', 'r', 'e', 'w', 'l', 'h', ' ', 'o'}
<class 'set'>

###93. Use 'int()' to convert a float with decimal places and note the result.

In [ ]:
float_val = 3.1416
int_val = int(float_val)
print(int_val)

3

###94. Convert a number to a string, concatenate it with another string, and print the result.

In [ ]:
num = 2
str_num = str(num)
str1 = "hello"

result = str1 + str_num
print(result)

hello2

str

# Operators

###95. Use the addition operator to add two numbers.

In [ ]:
num1 = 5
num2 = 10
print(num1+num2)

15

###96. Use the subtraction operator to subtract one number from another.

In [ ]:
num1 = 5
num2 = 10
print(num1-num2)

-5

###97. Use the multiplication operator to multiply two numbers.

In [ ]:
num1 = 5
num2 = 10
print(num1*num2)

50

###98. Divide two numbers using the division operator and print the result.

In [ ]:
num1 = 16
num2 = 2
print(num1/num2)

8.0

###99. Use the modulus operator to find the remainder of a division.

In [ ]:
num1 = 16
num2 = 3
print(num1%num2)

1

###100. Calculate the floor division of two numbers.

In [ ]:
num1 = int(input("input num1: "))
num2 = int(input("input num2: "))

if num2 == 0:
    raise ZeroDivisionError("Division by zero")
else:
    print("floor division of num1 and num2: ",num1 // num2)

input num1: 16
input num2: 6
floor division of num1 and num2:  2